@import "./src/styles.scss";

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .board {
    position: relative;
    min-width: 400px;
    width: 100%;
    // height: 400px;

    .row {
      display: flex;
      float: left;
      // &:nth-child(odd) {
      //   background-color: $color-odd;
      // }
    }
    .cell {
      position: relative;
      // height: 50px;
      // width: 50px;
      // border: 1px solid #eee;
      float: left;

      // background-size: 100%;
      // cursor: pointer;
      // cursor: grab;
      // cursor: -webkit-grab;
      // height: 12.5%;
      // left: 0;
      // overflow: hidden;
      // position: absolute;
      // top: 0;
      // touch-action: none;
      // width: 12.5%;
      // will-change: transform;
      &.odd {
        background-color: $color-odd;
      }
      &.even {
        background-color: $color-even;
      }
    }
  }
}

.player-info {
  float: left;
  height: 200px;
  width: 100px;

  .filler {
    // height: 700px;
  }
  .player {
    position: relative;
    height: 50px;
    font-size: 2rem;
    display: flex;
    align-items: center;

    &.active-turn {
      &::after {
        content: "";
        position: absolute;
        right: -25px;
        bottom: 20px;
        height: 15px;
        width: 15px;
        border-radius: 100%;
        background-color: seagreen;
      }
    }
  }
}
.open {
  background-color: #291d1c !important;
  box-shadow: inset 0 0 0 2px #eee;
  border: 2px solid transparent;
  height: 96px !important;
  width: 96px !important;
}
