@import "./src/styles.scss";

#user-sign-in-container {
  height: 150px;
  width: 400px;
  padding: 20px;
  border: 4px solid $color-even;
  background-color: $color-odd;
  z-index: 1;
  box-shadow: 7px 7px 0px 0px $color-even;
}
.title {
  height: 50px;
  width: 100%;
  padding: 10px;
  font-size: 2rem;
  justify-content: flex-start;
}

.error {
  position: absolute;
  width: 275px;
  height: 50px;
  color: white;
  perspective: 400px;
  .swing {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: $color-even;
    border: 4px solid $color-odd;
    box-shadow: -7px -7px 0px 0px $color-odd;
    animation: slide-down 0.8s ease forwards;
    -webkit-animation: slide-down 0.8s ease forwards;
    transform-style: preserve-3d;
  }
}
@keyframes slide-down {
  0% {
    transform: rotateX(-70deg) translate3d(0, 0px, 0px);
    -webkit-transform: rotateX(-70deg) translate3d(0, 0px, 0px);
  }
  40% {
    transform: rotateX(7deg) translate3d(0, 180px, 0px);
    -webkit-transform: rotateX(7deg) translate3d(0, 180px, 0px);
  }
  60% {
    transform: rotateX(-8deg) translate3d(0, 180px, 00px);
    -webkit-transform: rotateX(-8deg) translate3d(0, 180px, 00px);
  }
  80% {
    transform: rotateX(2deg) translate3d(0, 180px, 0px);
    -webkit-transform: rotateX(2deg) translate3d(0, 180px, 0px);
  }
  100% {
    transform: rotateX(0deg) translate3d(0, 180px, 0px);
    -webkit-transform: rotateX(0deg) translate3d(0, 180px, 0px);
  }
}

.join {
  width: 75px;
  height: 40px;
  margin: 0px 20px;
  cursor: pointer;
  perspective: 300px;
  -webkit-perspective: 300px;
}
.block {
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  &:hover {
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    .jumping-pieces {
      display: unset;
    }
  }
}
.face {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  border: 3px solid $color-even;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
}
.face:nth-child(1) {
  color: $color-even;
  transform: translate3d(0, 0, 20px);
  -webkit-transform: translate3d(0, 0, 20px);
}
.face:nth-child(2) {
  color: $color-odd;
  background: $color-even;
  transform: rotateX(-90deg) translate3d(0, 0, 20px);
  -webkit-transform: rotateX(-90deg) translate3d(0, 0, 20px);
}
.jumping-pieces {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
  box-sizing: border-box;
  border: 3px solid $color-even;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  .piece-1 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
    animation: wiggle-1 2s Infinite ease-in-out;
    -webkit-animation: wiggle-1 2s Infinite ease-in-out;
  }
  .shadow-1 {
    height: 5px;
    width: 18px;
    position: absolute;
    bottom: -3px;
    left: 6px;
    background: black;
    opacity: 0.4;
    border-radius: 100%;
    animation: shadow-1 1s Infinite ease-in-out;
    -webkit-animation: shadow-1 1s Infinite ease-in-out;
  }
  .piece-2 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 35px;
    top: 2px;
    animation: wiggle-1 2s Infinite ease-in-out;
    -webkit-animation: wiggle-1 2s Infinite ease-in-out;
  }
  .shadow-2 {
    height: 5px;
    width: 18px;
    position: absolute;
    bottom: -3px;
    left: 41px;
    background: black;
    opacity: 0.4;
    border-radius: 100%;
    animation: shadow-2 1s Infinite ease-in-out;
    -webkit-animation: shadow-2 1s Infinite ease-in-out;
  }
}
@keyframes shadow-1 {
  0% {
    width: 18px;
    left: 6px;
  }
  50% {
    width: 10px;
    left: 11px;
  }
  100% {
    width: 18px;
    left: 6px;
  }
}
@keyframes shadow-2 {
  0% {
    width: 18px;
    left: 41px;
  }
  50% {
    width: 10px;
    left: 46px;
  }
  100% {
    width: 18px;
    left: 41px;
  }
}
@keyframes wiggle-1 {
  0% {
    transform: translateY(2px) rotate(0);
    -webkit-transform: translateY(2px) rotate(0);
  }
  25% {
    transform: translateY(-2px) rotate(5deg);
    -webkit-transform: translateY(-2px) rotate(5deg);
  }
  50% {
    transform: translateY(2px) rotate(0);
    -webkit-transform: translateY(2px) rotate(0);
  }
  75% {
    transform: translateY(-2px) rotate(-5deg);
    -webkit-transform: translateY(-2px) rotate(-5deg);
  }
  100% {
    transform: translateY(2px) rotate(0);
    -webkit-transform: translateY(2px) rotate(0);
  }
}
.pop-out {
  animation: pop 0.8s ease forwards;
  -webkit-animation: pop 0.8s ease forwards;
}
@keyframes pop {
  from {
    transform: translateY(0) scale(1);
    -webkit-transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-6px) scale(1);
    -webkit-transform: translateY(-6px) scale(1);
  }
}
.flatten {
  animation: flat 0.8s ease forwards;
  -webkit-animation: flat 0.8s ease forwards;
}
@keyframes flat {
  from {
    transform: translateY(-6px) scale(1);
    -webkit-transform: translateY(-6px) scale(1);
  }
  to {
    transform: translateY(0) scale(1);
    -webkit-transform: translateY(0) scale(1);
  }
}
