<!-- Board -->
<button routerLink="/lobby">Back To Lobby</button>
<div class="board">
    <div *ngFor="let y of board; let i = index" class="row">
        <div *ngFor="let piece of board[i]; let j = index"
            class="cell {{((i+j) / 2) % 1 == 0 ? 'odd' : 'even'}} {{piece?.defenseless ? 'open' : ''}}"
            (click)="clickedSquare(piece, i, j)">
            <!-- Piece -->
            <ng-container *ngIf="piece?.y == i && piece?.x == j; else emptyBoard">
                <image-svg *ngIf="piece.y == i && piece.x == j" [color]="piece.color" [path]="piece.image"
                    [index]="i.toString() + j.toString()"></image-svg>
            </ng-container>
            <!-- Empty Board -->
            <ng-template #emptyBoard>
                <div class="empty {{piece === undefined ? 'open' : ''}}"></div>
            </ng-template>
    
        </div>
    </div>
</div>
<div class="player-info">
    <span *ngIf="game.player2.checked">Check</span>
    <div class="player {{game.player2.turn ? 'active-turn' : ''}} ">Player2</div>
    <div class="filler"></div>
    <span *ngIf="game.player1.checked">Check</span>
    <div class="player {{game.player1.turn ? 'active-turn' : ''}} ">Player1</div>
</div>